.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;  
  width: 100%;
  height:50vh;
}
.mainnav ul{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.mainnav ul li{
  margin: 0 24px;
  list-style: none;
  font-weight: bold;
}
.blogitem{
  margin-top: 500px;
}
.myimg{
  border-radius:10px;
  margin: 10px;
}