
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;  
  width: 100%;
}
.mainnav ul{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.mainnav ul li{
  margin: 0 24px;
  list-style: none;
  font-weight: bold;
}
.blogpost{
  margin-top: 40px;

}
.myimg{
  border-radius:10px;
  margin: 10px;
}
.imagewrap{
  padding: 30px 0px;
}